.criminalsContainer{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.criminal{
    border: dotted black 1px;
    padding: 10px;
    margin: 15px;
    width: 185px;
    min-width: 160px;
    height: 290px;
    background: #27233A;
    color: #BE6E46;
    border-radius: 20px;
}

.criminal__facilities{
    text-align: center;
}

.criminal__facilities__header{
    text-align: center;
}

.criminal ul{
    list-style-type: none;
    margin: 0, auto;
    padding: 0;
}

.criminal li{
    margin-bottom: 5px;
}

.button--container{
    text-align: left;
    margin-bottom: 10px;
}

.criminal__button{
    all: unset;
    border: solid black 2px;
    background: #BE6E46;
    color: black;
    border-radius: 10px;
    min-width: 120px;
    text-align: center;
}

.criminal__button:hover{
    background: #629677;
    color: white;
}