.criminalsContainer{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.criminal{
    border: dotted black 1px;
    padding: 10px;
    margin: 15px;
    width: 185px;
    height: 150px;
}