.noteFormContainer{
    display:flex;
    justify-content: center;
    margin: 10px;
}

.noteFormContainer input, textarea{
    padding: 3px;
    margin: 5px;
    border-style: none;
    border-radius: 5px;
    max-width: 96%;
}

.noteFormContainer button{
    width: 85px;
    align-self: center;
    border-radius: 5px;
}

.noteForm{
    display: flex;
    flex-direction: column;
    border: solid black 2px;
    background: lightgray;
    width: 33%;
    min-width: 215px;
    padding: 5px;
    border-radius: 10px;
}

.notesContainer {
    display:none;
    flex-wrap: wrap;
    justify-content: center;
    margin: 3px 5px 3px 5px;
}

.note {
    border: solid black 2px;
    margin: 5px 0px;
    padding: 3px;
    flex-basis: 50%;
    background: #D1D5DE;
    border-radius: 10px;
    min-width: 160px;
}